name: CI-CD Pipeline

run-name: Creating and deploying image

on:
  workflow_dispatch:
  push:
    paths:
      - 'src/**'     # Only run if files in the src folder change
      - 'Dockerfile'
  workflow_run:
    workflows: ["Infrastructure creation workflow"]
    types: [completed]

jobs:
  docker-build-and-push-to-acr:
    runs-on: ubuntu-latest

    env:
        ARM_CLIENT_ID: ${{ fromJson(secrets.AZURE_CREDENTIALS).clientId }}
        ARM_CLIENT_SECRET: ${{ fromJson(secrets.AZURE_CREDENTIALS).clientSecret }}
        ARM_SUBSCRIPTION_ID: ${{ fromJson(secrets.AZURE_CREDENTIALS).subscriptionId }}
        ARM_TENANT_ID: ${{ fromJson(secrets.AZURE_CREDENTIALS).tenantId }}
        TF_VAR_acr_password: ${{ secrets.ACR_PASSWORD }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Set up Azure CLI
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Log in to Azure Container Registry
        run: |
          az acr login --name filevaultjohnnytf

      - name: Build docker image and push to Azure Container Registry
        working-directory: src/azure-sa
        run: |
          docker build -t filevaultjohnnytf.azurecr.io/filevault-app:${{ github.run_id }} .
          docker push filevaultjohnnytf.azurecr.io/filevault-app:${{ github.run_id }}
  
  deploy-to-aks:
    needs: docker-build-and-push-to-acr
    runs-on: ubuntu-latest

    env:
        ARM_CLIENT_ID: ${{ fromJson(secrets.AZURE_CREDENTIALS).clientId }}
        ARM_CLIENT_SECRET: ${{ fromJson(secrets.AZURE_CREDENTIALS).clientSecret }}
        ARM_SUBSCRIPTION_ID: ${{ fromJson(secrets.AZURE_CREDENTIALS).subscriptionId }}
        ARM_TENANT_ID: ${{ fromJson(secrets.AZURE_CREDENTIALS).tenantId }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Set up Azure CLI
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Set up terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: false
      
      - name: Get AKS credentials
        run: az aks get-credentials --resource-group FilevaultJohnnyTF --name filevault-aks-v3

      - name: Inject secrets and deploy to AKS
        shell: bash
        run: |
          cd terraform
          terraform init

          STORAGE_NAME=$(terraform output -raw storage_account_name)
          STORAGE_KEY=$(terraform output -raw storage_account_key)
          CONTAINER_NAME=$(terraform output -raw container_name)
          cd ..

          kubectl create secret generic storage-secret \
            --from-literal=account-name=$STORAGE_NAME \
            --from-literal=account-key=$STORAGE_KEY \
            --from-literal=container-name=$CONTAINER_NAME \
            --dry-run=client -o yaml | kubectl apply -f -

          sed -i "s|filevaultjohnnytf.azurecr.io/filevault-app:.*|filevaultjohnnytf.azurecr.io/filevault-app:${{ github.run_id }}|g" filevault-aks.yaml

          kubectl apply -f filevault-aks.yaml