name: Infrastructure creation workflow

run-name: Creating infrastructure

on: [push]

jobs:
  terraform-ing:
    runs-on: ubuntu-latest

    env:
        ARM_CLIENT_ID: ${{ fromJson(secrets.AZURE_CREDENTIALS).clientId }}
        ARM_CLIENT_SECRET: ${{ fromJson(secrets.AZURE_CREDENTIALS).clientSecret }}
        ARM_SUBSCRIPTION_ID: ${{ fromJson(secrets.AZURE_CREDENTIALS).subscriptionId }}
        ARM_TENANT_ID: ${{ fromJson(secrets.AZURE_CREDENTIALS).tenantId }}
        TF_VAR_acr_password: ${{ secrets.ACR_PASSWORD }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Set up Azure CLI
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.7.0"

      - name: Terraform init
        run: terraform init
        working-directory: ./terraform

      - name: Terraform plan
        run: terraform plan
        working-directory: ./terraform
      
      - name: Terraform apply
        run: terraform apply -auto-approve
        working-directory: ./terraform